<div class="about-wrapper">
  <h1 class="about-title">ABOUT ME</h1>
  <div class="about-content">
    <div class="about-text">
      <h3>My Experience</h3>
      <p>
        I currently work as a Software Developer at QHR Technologies, a division
        of Shoppers Drug Mart, where I use Angular and other technologies to
        develop and maintain web-based solutions for the healthcare industry.
      </p>
    </div>
    <div>
      <a
        class="about-resume"
        href="/assets/cintia-schutt-resume.pdf"
        target="_blank"
        rel="noopener noreferrer"
      >
        Download my Resume
        <img src="/assets/icons/resume-icon.jpg" alt="Download Resume" />
      </a>
    </div>
  </div>
</div>
