<div class="about-wrapper">
  <h1 class="about-title">ABOUT ME</h1>
  <div class="about-content">
    <div class="about-text">
      <h2>My Experience</h2>
      <p>
        Intermediate Software Developer with over 5 years of experience in
        Angular, API integrations, and cloud-based architectures (Azure, Docker,
        Kubernetes). Developed scalable web applications and contribute to
        high-impact platforms, including Medeo Health, which serves over 1
        million users. Focused on clean coding, performance optimization, and
        Agile methodologies.
      </p>
    </div>
    <div>
      <a
        class="about-resume"
        href="/assets/cintia-schutt-resume.pdf"
        target="_blank"
        rel="noopener noreferrer"
      >
        Download my Resume
        <img src="/assets/icons/resume-icon.jpg" alt="Download Resume" />
      </a>
    </div>
    <h2>My Expertise</h2>
    <div class="about-expertise-wrapper">
      <div class="about-card">
        <div class="about-expertise-header">
          <img
            src="assets/icons/software-dev.png"
            class="about-icon"
            alt="Icon"
          />
          <h2 class="about-card-title highlight">Software Dev</h2>
        </div>
        <p class="about-card-description">
          Experienced in JavaScript, TypeScript, and Java, building and
          integrating RESTful APIs, managing CI/CD workflows with GitHub Actions
          and Azure DevOps Pipelines, and containerizing applications using
          Docker.
        </p>
      </div>

      <div class="about-divider"></div>

      <div class="about-card">
        <div class="about-expertise-header">
          <img src="assets/icons/web-dev.png" class="about-icon" alt="Icon" />
          <h2 class="about-card-title highlight">Frontend Dev</h2>
        </div>
        <p class="about-card-description">
          Over 5 years of developement experience working with Angular, using
          NGRX, NX monorepo, Jest, Angular Material.
        </p>
      </div>

      <div class="about-divider"></div>

      <div class="about-card">
        <div class="about-expertise-header">
          <img src="assets/icons/react.png" class="about-icon" alt="Icon" />
          <h2 class="about-card-title highlight">React Native</h2>
        </div>
        <p class="about-card-description">
          On going training exploring mobile development using React Native.
        </p>
      </div>
    </div>
  </div>
</div>
