<div class="about-wrapper">
  <h1 class="about-title">ABOUT ME</h1>
  <div class="about-content">
    <div class="about-text">
      <div class="about-text-title">
        <h2>My Experience</h2>
      </div>
      <p>
        I’m a frontend-focused software developer with over 5 years of
        experience, mostly in the healthcare industry. My work focuses on
        Angular, and I spend a lot of time with tools like Angular Material for
        UI, RxJS and NgRx for managing state, Jest for testing, and more
        recently the NgRx Signal Store to bring in modern state management
        patterns. I’ve also worked with Okta and Azure AD B2C to handle
        authentication securely while keeping the user experience smooth.
      </p>

      <p>
        I enjoy taking on challenges that push me outside my comfort zone.
        Alongside my frontend work, I’m curious about the bigger picture. I’ve
        been learning more about backend development with Spring Boot, exploring
        Kubernetes for cloud environments, and understanding how technologies
        like WebAuthn help strengthen application security. These challenges
        help me grow and make me a stronger developer overall.
      </p>

      <p>
        What motivates me most is creating software that solves real problems
        and being part of teams where we share knowledge, collaborate, and keep
        pushing each other forward.
      </p>

      <p>
        As a Canadian citizen eligible for TN visa, I can collaborate with teams
        across the U.S. and Canada seamlessly, whether remotely or onsite. I’m
        always open to connecting about software development, web architecture,
        or front-end best practices.
      </p>
    </div>
    <div>
      <a
        class="about-resume"
        href="/assets/cintia_schutt_resume.pdf"
        target="_blank"
        rel="noopener noreferrer"
      >
        Download my Resume
        <img src="/assets/icons/resume-icon.jpg" alt="Download Resume" />
      </a>
    </div>
    <h2>My Expertise</h2>
    <div class="about-expertise-wrapper">
      <div class="about-card">
        <div class="about-expertise-header">
          <h2 class="about-card-title highlight">Software Dev</h2>
        </div>
        <p class="about-card-description">
          Experienced in JavaScript, TypeScript, and Java, building and
          integrating RESTful APIs, managing CI/CD workflows with GitHub Actions
          and Azure DevOps Pipelines, and containerizing applications using
          Docker.
        </p>
      </div>

      <div class="about-divider"></div>

      <div class="about-card">
        <div class="about-expertise-header">
          <h2 class="about-card-title highlight">Frontend Dev</h2>
        </div>
        <p class="about-card-description">
          Over 5 years of developement experience working with Angular, using
          NGRX, NX monorepo, Jest, Angular Material.
        </p>
      </div>

      <div class="about-divider"></div>

      <div class="about-card">
        <div class="about-expertise-header">
          <h2 class="about-card-title highlight">Spring Boot</h2>
        </div>
        <p class="about-card-description">
          On going training exploring backend development using Java and Spring Boot framework.
        </p>
      </div>
    </div>
  </div>
</div>
