.footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--clr-dark-grey);
  margin-top: auto;
}

.footer-content {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.social-icons {
  display: flex;
  margin: 2rem;
  gap: 1rem;
}

.footer-text {
  margin-top: 1rem;
  font-size: 0.8rem;
}

@media (max-width: 35em) {
  .footer-content {
    gap: 0;
  }

  .social-icons {
    margin: 1rem;
  }
}
