<section class="home-wrapper">
  <div class="home-intro">
    <h1 class="home-subtitle">Hello, My name is</h1>
    <div class="home-title">
      <h1>CINTIA SCHUTT</h1>
    </div>
    <h3 class="home-subtitle">A Frontend Developer.</h3>
    <div class="home-text">
      <p>Bringing ideas to life, one line of code at a time.</p>
      <p>
        I specialize in building responsive, acessible, and high-performance web
        applications using modern technologies like Angular, Typescript, and
        React. With a passion for clean UI/UX and an eye for detail, I transform
        concepts into intuitive digital experiences.
      </p>
    </div>
  </div>

  <div>
    <img
      class="home-picture"
      src="assets/images/woman-coding.png"
      alt="Woman Coding"
    />
  </div>
</section>
