@layer reset {
  /* CSS Reset */
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  /* https://kilianvalkhof.com/2022/css-html/your-css-reset-needs-text-size-adjust-probably/ */
  html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
  }

  body,
  h1,
  h2,
  h3,
  h4,
  p,
  figure,
  blockquote,
  dl,
  dd {
    margin: 0;
  }

  /* https://www.scottohara.me/blog/2019/01/12/lists-and-safari.html */
  [role="list"] {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  body {
    min-block-size: 100vh;
    line-height: 1.6;
  }

  h1,
  h2,
  h3,
  button,
  input,
  label {
    line-height: 1.1;
  }

  h1,
  h2,
  h3,
  h4 {
    text-wrap: balance;
  }

  p,
  li {
    text-wrap: pretty;
  }

  img,
  picture {
    max-inline-size: 100%;
    display: block;
  }

  input,
  button,
  textarea,
  select {
    font: inherit;
  }

  a {
    text-decoration: none;
    color: inherit;
  }
}

@layer variables {
  :root {
    /* Colors */
    --clr-white: #ffffff;
    --clr-black: #000501;
    --clr-grape: #94618e;
    --clr-eggplant: #49274a;
    --clr-sand: #f4decb;
    --clr-shell: #f8eee7;
    --clr-cursed-black: #141313;
    --clr-eclipse: #3c3c3c;

    /* Font Families */
    --ff-primary: "Roboto", sans-serif;
    --ff-secundary: "Roboto Flex", sans-serif;
    --ff-mono: "Roboto Mono", monospace;
    --ff-cursive: "Playwrite IT Moderna", cursive;
  }
}

@layer global {
  html,
  body {
    font-family: var(--ff-primary);
    color: var(--clr-white);
    width: 100%;
  }

  .mat-divider {
    margin: 1rem;
    color: var(--clr-white);
  }
}

@layer utilities {
}
