.app-container {
  min-height: 100vh;
  max-width: 100vw;
  display: grid;
  grid-template-columns: 180px 1fr;

  @media (max-width: 768px) {
    grid-template-columns: 150px 1fr;
  }
}

.main-content {
  max-width: 1200px;
  margin: auto;
}
