<div class="about-container">
  <!-- Left Colum: Photo, Gretting, Name/Role -->
  <div class="about-header-wrapper">
    <section class="about-left">
      <div class="about-title">
        <p>Welcome to</p>
        <h1>MY JOURNEY</h1>
      </div>
      <div class="about-photo-wrapper">
        <img src="/assets/images/cintia.jpg" alt="Cintia Schutt" />
      </div>

      <div class="about-intro">
        <h1>CINTIA SCHUTT</h1>
        <h2><em>Frontend Developer</em></h2>
      </div>
    </section>

    <!-- Right Column: Contact Info, Expertise, Experience -->
    <section class="about-right">
      <div class="about-contact-info">
        <div class="about-contact-info-item">
          <p>
            <mat-icon>call</mat-icon>
            +1 778 836-4884
          </p>
        </div>
        <div class="about-contact-info-item">
          <p>
            <mat-icon>mail</mat-icon>
            <a href="mailto:cintiaschutt@gmail.com"
              >cintiaschutt&#64;gmail.com</a
            >
          </p>
        </div>
        <div class="about-contact-info-item">
          <p>
            <mat-icon>code</mat-icon>
            5+ years of experience
          </p>
        </div>
        <div class="about-contact-info-item">
          <p>
            <mat-icon>location_on</mat-icon>
            Canada
          </p>
        </div>
      </div>

      <mat-divider></mat-divider>

      <div class="about-expertise">
        <div class="about-expertise-content">
          <h3>5+</h3>
          <p>Years of Experience</p>
        </div>
        <p>
          Hello there! My name is Cintia Schutt. I am a web software developer,
          and I'm very passionate and dedicated to my work.
        </p>
        <div class="about-expertise-content">
          <h3>12+</h3>
          <p>Years of Experience</p>
        </div>
        <p>
          In my previous roles, I've had the opportunity to sharpen my customer
          relations skills. These experiences have given me valuable insights
          into understanding and meeting client needs effectively.
        </p>
      </div>

      <blockquote class="about-quote">
        "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus sed
        sit ultrices et sed metus sollicitudin."
      </blockquote>
    </section>
  </div>

  <section class="about-experience">
    <div class="about-experience-left">
      <p>My</p>
      <h2>Experience</h2>
      <p>
        I currently work as a Software Developer at QHR Technologies, a division
        of Shoppers Drug Mart, where I use Angular and other technologies to
        develop and maintain web-based solutions for the healthcare industry.
      </p>
      <a
        class="about-resume"
        href="https://www.linkedin.com/in/cintiaschutt/"
        target="_blank"
        rel="noopener noreferrer"
      >
        Download my Resume
        <img src="/assets/icons/resume-icon.jpg" alt="Download Resume" />
      </a>
    </div>

    <div class="about-experience-right">
      <div class="about-experience-list">
        <div class="about-job">
          <div class="about-job-header">
            <p><em>2022 - Present</em></p>
            <p>QHR Technologies</p>
          </div>
          <h3>Software Developer</h3>
          <mat-divider></mat-divider>
        </div>
        <div class="about-job">
          <div class="about-job-header">
            <p><em>2019 - 2022</em></p>
            <p>QHR Technologies</p>
          </div>
          <h3>Junior Software Developer</h3>
          <mat-divider></mat-divider>
        </div>
        <div class="about-job">
          <div class="about-job-header">
            <p><em>2012 - 2016</em></p>
            <p>Banco do Brasil</p>
          </div>
          <h3>Customer Representative</h3>
          <mat-divider></mat-divider>
        </div>
      </div>
    </div>
  </section>
</div>
